
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>(BUD002)Student Update</title>
<link th:href="@{/resources/css/base.css}" rel="stylesheet" />
<link th:href="@{/resources/css/container.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/resources/js/accordion-menu.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/general.js}"></script>
<script type="text/javascript">
	window.onload = function() {
		menu();
	}


</script>
</head>
<body class="main_body">

<div th:insert="header :: header"></div>
	<div id="container">
		<div id="left_menu">
			<!-- menu html code exist the menu function of general.js -->
		</div>
		<div id="main_contents">
			<div id="contents">
				<div class="search_form">
					<h3>Student Update</h3>
					<label id="errormsg"> </label> <label style="color: blue;"></label>
					<br /> <br /> <br />
					<form th:action="setupupdatestudent"
						method="post" id="myform" th:object="${student}">
						<table class="tableForm">
							<tr>
								<td class="tblSingleLabel">Student No *</td>
								<td class="tblSingleInput"><input type="text" class="txtlong" 
										th:field="*{studentId}" /> </td>
							</tr>
							<tr>
								<td class="tblSingleLabel">Student Name *</td>
								<td class="tblSingleInput"><input type="text"
										th:field="*{studentName}" class="txtlong" /> </td>
							</tr>
							<tr>
								<td class="tblSingleLabel">Class Name *</td>
								<td class="tblSingleInput"><select id="expenseType" class="normal_sel"
										 th:field="*{className}">

										<option th:each="clist : ${clist}" th:value="${clist}" th:text="${clist}"></option>
										
										</select>
								</td>
							</tr>
							<tr>
								<td class="tblSingleLabel">Register Date</td>
								<td><input th:field="*{register}" type="datetime-local" /> </td>
							</tr>
							<tr>
								<td class="tblSingleLabel">Status *</td>
								<td class="tblSingleInput"><select id="expenseType"
										class="normal_sel" th:field="*{status}">
										<option value=""></option>

										<option value="Attending">Attending</option>
										<option value="Passed">Passed</option>
										<option value="Failed">Failed</option>

									</select> </td>
							</tr>


						</table>
						<br />
						<div id="btnGroup">
						<input type="submit" value="Update" class="button" />
						<a th:href="@{/deletestudent(studentId=${student.studentId})}">
							<input type="button" value="Delete" id="delete" class="button" /></a>
					</form>
					 <a
						href="studentreset"> <input type="button"
						value="Back" class="button" />
					</a>
				</div>
			</div>
		</div>
	</div>


	<div class="footer">
		<span>Copyright &#169; ACE Inspiration 2016</span>
	</div>
</body>
</html>